<footer class="site-footer">
  <div class="shell footer-grid">
    <div>
      <h3>1. SV Fasanenhof 1965 e.V.</h3>
      <p>Logauweg 21, 70565 Stuttgart. Gemeinsamer Auftritt für Verein, Fußball, Tischtennis und Bogensport.</p>
    </div>
    <div>
      <h4>Schnellzugriff</h4>
      <ul>
        <li><a href="{{url.aktuelles}}">Aktuelles</a></li>
        <li><a href="{{url.termine}}">Termine</a></li>
        <li><a href="{{url.mitgliedWerden}}">Mitglied werden</a></li>
        <li><a href="{{url.verein}}">Verein</a></li>
        <li><a href="{{url.standort}}">Standort</a></li>
        <li><a href="{{url.kontakt}}">Kontakt</a></li>
        <li><a href="{{url.suche}}">Suche</a></li>
      </ul>
    </div>
    <div>
      <h4>Abteilungen</h4>
      <ul>
        <li><a href="{{url.fussball}}">Fußball</a></li>
        <li><a href="{{url.tischtennis}}">Tischtennis</a></li>
        <li><a href="{{url.bogenschiessen}}">Bogenschießen</a></li>
      </ul>
    </div>
    <div>
      <h4>Rechtliches</h4>
      <ul>
        <li><a href="{{url.impressum}}">Impressum</a></li>
        <li><a href="{{url.datenschutz}}">Datenschutz</a></li>
        <li><a href="{{url.barrierefreiheit}}">Barrierefreiheit</a></li>
        <li><a href="{{url.jugendschutz}}">Jugendschutz</a></li>
      </ul>
    </div>
  </div>
</footer>
